.packages
  padding: 7.5rem 0
  display: flex
  align-items: center
  justify-content: center

.container
  display: flex
  align-items: start
  flex-direction: column

.title
  font-size: 50px
  font-weight: 600
  line-height: 160%
  text-align: left
  margin-bottom: 60px

.cards
  display: flex
  gap: 40px

@media (max-width: 768px)
  .packages
    padding: 3.75rem 0

  .container
    align-items: center

  .title
    width: 300px
    font-size: 30px
    text-align: center
    margin-bottom: 40px

  .cards
    flex-direction: column
    gap: 20px
