.tabs
  position: absolute
  left: 0
  top: 20rem
  z-index: 100

.tabList
  position: relative
  display: flex
  align-items: center
  gap: 10rem

.tabList:after
  content: ''
  position: absolute
  bottom: 0
  width: 860px
  height: 0
  border: 1px solid rgba(20, 16, 36, 0.11)

.tab
  padding: 1rem 0
  font-family: Jost
  font-size: 16px
  font-weight: 400
  line-height: 160%
  text-align: left
  color: rgba(20, 16, 36, 0.7)
  cursor: pointer
  transition: color 0.3s ease
  border: none
  background: transparent

  &:hover
    color: rgba(213, 32, 39, 1)

  &.active
    color: rgba(213, 32, 39, 1)

.tabContent
  position: relative

.content
  width: 860px
  padding: 20px 40px 20px 20px
  overflow: hidden
  background: white

  h3
    color: rgba(20, 16, 36, 1)
    font-family: Jost
    font-size: 24px
    font-weight: 600
    line-height: 160%
    text-align: left

  p
    color: rgba(20, 16, 36, 0.7)
    font-family: Jost
    font-size: 18px
    font-weight: 400
    line-height: 160%
    text-align: left

.scrollArea
  position: absolute
  height: 320px
  overflow-y: scroll
  scrollbar-gutter: stable
  margin-top: 20px

.scrollArea
  &::after
    content: ''
    position: sticky
    bottom: 0
    display: block
    height: 175px
    pointer-events: none
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%)

  // Chrome/Edge/Safari (WebKit)
  &::-webkit-scrollbar
    width: 8px

  &::-webkit-scrollbar-track
    background: rgba(20, 16, 36, 0.08)
    border-radius: 40px

  &::-webkit-scrollbar-thumb
    background: rgba(20, 16, 36, 1)
    border-radius: 40px

  // Firefox
    scrollbar-width: thin
    scrollbar-color: rgba(20, 16, 36, 1) rgba(20, 16, 36, 0.08)
