.tabs
  position: absolute
  left: 0
  top: 20rem

.tabList
  display: flex
  align-items: center
  gap: 10rem

.tab
  padding: 1rem 0
  font-family: Jost
  font-size: 16px
  font-weight: 400
  line-height: 160%
  text-align: left
  color: rgba(20, 16, 36, 0.7)
  cursor: pointer
  transition: color 0.3s ease
  border: none
  background: transparent

  &:hover
    color: rgba(213, 32, 39, 1)

  &.active
    color: rgba(213, 32, 39, 1)
    border-bottom: 2px solid rgba(213, 32, 39, 1)

.tabContent
  position: relative

.content
  display: flex
  flex-direction: column
  gap: 1rem

  h3
    color: rgba(20, 16, 36, 1)
    font-family: Jost
    font-size: 24px
    font-weight: 600
    line-height: 160%
    text-align: left

  p
    color: rgba(20, 16, 36, 0.7)
    font-family: Jost
    font-size: 18px
    font-weight: 400
    line-height: 160%
    text-align: left
