
.slider
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  overflow: hidden

.sliderWrapper
  width: 100%
  display: flex
  align-items: center
  margin-bottom: 60px

.slideContainer
  display: flex
  gap: 40px
  transition: transform 0.5s ease-in-out
  will-change: transform

.card
  display: flex
  align-items: flex-start
  flex-direction: column

.image
  border-radius: 20px
  background: rgba(196, 196, 196, 1)
  margin-bottom: 20px

.name
  font-size: 24px
  font-weight: 600
  line-height: 160%
  text-align: left

.role
  color: rgba(20, 16, 36, 0.7)
  font-size: 18px
  font-weight: 400
  line-height: 160%
  text-align: left

.button
  background-color: inherit
  border: none
  color: rgba(213, 32, 39, 1)
  font-size: 18px
  font-weight: 400
  line-height: 160%
  text-align: left

.sliderFooter
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
