.mainNav
  display: flex
  align-items: center
  justify-content: center

.navList
  display: flex
  align-items: center
  justify-content: space-between
  list-style: none
  gap: 40px
  padding: 0
  margin: 0

.navLink
  color: rgb(255, 255, 255)
  font-family: Jost
  font-size: 20px
  font-weight: 400
  line-height: 160%
  text-align: center
  text-decoration: none

.navLink
  &:hover
    text-decoration: underline

// Адаптивность для мобильных устройств
@media (max-width: 768px)

  .mainNav
    padding: 10rem 0

  .navList
    flex-direction: column
    gap: 20px

  .navLink
    font-size: 30px
