
.header
  display: flex
  align-items: center
  justify-content: center
  background: rgb(20, 16, 36)
  width: 100%

.container
  width: 100%
  max-width: 1920px
  display: flex
  align-items: center
  justify-content: space-between
  padding: 30px

.desktopNav
  display: block

.mobileNav
  display: none

@media (max-width: 768px)
  .desktopNav
    display: none

  .mobileNav
    display: block
    position: absolute
    top: 100%
    left: 0
    width: 100%
    background: rgba(0, 0, 0, 0.9)
    padding: 2rem
    z-index: 100
