.header
  display: flex
  align-items: center
  justify-content: center
  background: rgb(20, 16, 36)
  margin-bottom: 93px

.container
  width: 1920px
  display: flex
  align-items: center
  justify-content: space-between
  padding: 30px
